.footer-top {
    background-image: url('../assets/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
    height: 350px;
    padding: 30px 0;
    max-width: 100%;
    margin: 0 auto;
}

.footer-top-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.links-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-right: 50px;
    max-height: 250px;
}

.link-column h3 {
    color: white;
    margin: 0 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.link-column ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 20px 0;
}

.link-column a {
    color: #999999;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
}