body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-header {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: black;
    text-decoration: none;
    padding-top: 35px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 5px solid transparent;
    display: inline-block;
}

.logo-container img {
    height: 90px;
    display: block;
}

.main-nav a:hover {
    color: #0088cc;
    border-bottom: 5px solid #0088cc;
    display: inline-block;
}