body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-header {
    background-color: #ffffff;
    padding: 10px 0
}

.header-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo-container img {
    height: 90px;
    display: block;
}