.utility-bar-wrapper {
    background-color: #0088cc;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.utility-item {
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.utility-icon {
    height: 70px;
    margin-bottom: 0;
    margin-right: 10px;
}